body{
    margin:0;
}
    .container {
        /* position: relative;  */
        width: 100vw;
        height: 100vh;
        background-color: #0b7cde;
        /* background-size: cover;
        background-repeat: no-repeat;
        color:#ffff;
        background-position: center; */
    }	
    .column{
        position: relative;
        background-color: pink;
        width: 100%;
        height: 100%;
    }
    .item-a{
        position: absolute;
        height: 50px;
        width: 50%;
        background-color: red;
        top: 10%;
    }
    .item-b{
        position: absolute;
        height: 10%;
        width: 30%;
        background-color: yellow;
        top: 30%;
        /* top:50px; */
        /* position: absolute; */
        /* margin: 30px; */
    }
    .item-c{
        position: absolute;
        height: 10%;
        width: 30%;
        background-color: green;
        top: 50%;
        /* margin: 40px; */
    }