p,h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

/* ---------- PC SCREEEN----------- */
.header-wrapper{
    height: 100vh;
    background:url("../images/backgrnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:#ffff;
    background-position: center;
}
.header-row{
    height: 100%;
    display: flex;
    background-color: black;
    opacity: 0.7;
}
.header-column-left{
    position: relative;
    height: 100%;
    width: 60%;
    background-color: red;
    opacity: 0.6;
}

.column-wrapper{
    position: absolute;
    background-color: white;
    height: auto;
    width: auto;
    left: 20%;
    top: 10%;

    color: black;
}
.header-title-top{
    font-size: 200%;
    width: 80%;
}
.header-title-top 
    p {
        font-size: 35px; 
        margin-top: 10%; 
        font-weight: normal;
        width: 100%;
    }
.header-title-bot{
    margin-top: 15%;
    width: 80%;
    font-size: 30px; 
}
.buttonmap{
    background-color: Transparent;
    font-size: 35px;
    outline: none;
    color: black;
    cursor: pointer;
    border: none;
    margin-top: 5%;
    transition: all 0.3s ease 0s;
}

.header-column-right{
    position: relative;
    height: 100%;
    width: 40%;
    background-color: blue;
    opacity: 0.6;
}
.box-date{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgb(33, 8, 34);
    color: black;
    border-radius: 20px;
    top: 20%;
    left: 70px;
}
.box-date-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.box-date-top{
    position: absolute;
    width: auto;
    top: 5%;
    left:  10%;
    background-color: lavender;
    font-size: 50px;
}
.box-date-top
    p {
    font-size: 30px;
    margin-top: 2%;
}
.box-date-bot{
    position: absolute;
    width: 100%;
    top: 40%;
}
.btn{
    width: 80%;
    padding: 10px;
    color:white;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    font-size: 40px;
    margin-left: 10%;
}
.interested{
    background-color:rgb(219, 68, 55);
}
.going{
    margin-top: 10%;
    background-color:rgb(66,133,244);
}

.btn:hover, .buttonmap:hover{
    transform: translateY(-10px);
}

/* ---------- IPAD PRO LANDSCAPE MODE ----------- */
@media (max-width: 1366.5px){
    .column-wrapper{
        left: 10%;
    }
    .header-title-top{
        font-size: 35px;
    }
    .header-title-top
    p{
        font-size: 50px;
        margin-top: 20%;
    }
    .header-title-bot{
        font-size: 40px;
        margin-top: 17%;
    }
    .buttonmap{
        font-size: 45px;
        margin-top: 10%;
    }
    .box-date{
        left: 25px;
    }
    .box-date-top{
        left: 5%;
        font-size: 60px;
    }
    .btn{
        font-size: 60px;
    }
}

/* ---------- IPAD PRO PORTRAIT AND DOWN ----------- */
@media (max-width: 1200px){
    .header-row{
        display: block;
    }
    .header-column-left{
        width: 100%;
    }
    .header-column-right{
        width: 100%;
    }
    .column-wrapper{
        top: 10%;
    }
    .header-title-top{
        font-size: 50px;
        width: 100%;
    }
    .header-title-top
    p{
        margin-top:15%;
        font-size: 70px;
    }
    .header-title-bot{
        margin-top: 15%;
        width: 100%;
        font-size: 50px; 
    }
    .buttonmap{
        font-size: 70px;
    }
    .header-column-right{
        height: 66%;
        width: 100%;
    }
    .box-date{
        width: 80%;
        height: 80vw;
        top: 5%;
        left: 10%;
    }
    .box-date-top{
        font-size: 90px;
    }
    .box-date-top
    p{
        font-size: 50px;
    }
    .box-date-bot{
        top:40%
    }
    .btn{
        width: 80%;
        font-size: 80px;
        padding: 30px;
        margin-left: 10%;
    }
    .going{
        margin-top: 10%;
    }
}

/* ---------- IPAD LANDSCAPE MODE ----------- */
@media only screen and (max-width: 1024px) and (max-height: 768px){
    .header-wrapper{
        height: 200vh;
    }
    .column-wrapper{
        left: 15%;
        top:5%;
    }
    .header-column-left{
        height: 60%;
    }
    .header-title-top{
        font-size: 45px;
    }
    .header-title-top
    p{
        font-size: 50px;
        margin-top: 10%;
    }
    .header-title-bot{
        font-size: 45px;
    }
    .buttonmap{
        font-size: 50px;
    }

    .header-column-right{
        height: 40%;
    }
    .box-date{
        width: 70vw;
        height: 55vw;
        left: 15%;
    }
    .box-date-top{
        font-size: 70px;
        left: 5%;
    }
    .box-date-top
    p{
        font-size: 45px;
    }
    .box-date-bot{
        top:40%;
    }
    .btn{
        font-size: 55px;
        padding: 25px;
    }
    .going{
        margin-top: 5%;
    }
}

/* ---------- IP X LANDSCAPE and stop at IPAD POTRAIT ----------- */
@media (max-width: 813px) and (min-width:768.5px){
    .header-wrapper{
        height: 1000px;
    }
    .header-column-left{
        height: 50%;
    }
    .column-wrapper{
        top: 10%;
        left: 5%;
    }
    .header-title-top{
        font-size: 30px;
    }
    .header-title-top
    p{
        margin-top: 7%;
        font-size: 30px;
    }
    .header-title-bot{
       margin-top: 10%; 
       font-size: 25px;
    }
    .header-column-right{
        height: 50%;;
    }
    .buttonmap{
        font-size: 30px;
        margin-top: 3%;
    }
    .box-date{
        width: 80%;
        height: 430px;
        top: 5%;
        left: 10%;
    }
    .box-date-top{
        font-size: 70px;
        left:5%;
    }
    .box-date-top
    p{
        font-size: 30px;
    }
    .box-date-bot{
        top:35%
    }
    .btn{
        font-size: 45px;
        padding: 15px;
        margin-top: 5%;
    }
}

/* ---------- IPAD POTRAIT ----------- */
@media (max-width: 769px) {
    .column-wrapper{
        top: 10%;
    }
    .header-title-top{
        font-size: 40px;
    }
    .header-title-top
    p{
        margin-top: 10%;
        font-size: 50px;
    }
    .header-title-bot{
        width: 100%;
        font-size: 40px; 
        margin-top: 10%;
    }
    .buttonmap{
        font-size: 50px;
        margin-top:10%;
    }
    .box-date{
        top: 5%;
    }
    .box-date-top
    p{
        font-size: 40px;   
    }
    .btn{
        width: 80%;
        padding: 20px;
        font-size: 60px;
        margin-left: 10%;
    }
 }
 
 /* ---------- IP6,7,8 (PLUS) LANDSCAPE and stop at IP5 LANDSCAPE----------- */
@media (max-width: 737px) and (min-width: 569px){
    .header-wrapper{
        height: 1000px;
    }
    .header-column-left{
        height: 55%;
    }
    .column-wrapper{
        top:10%;
        left: 2%;
    }
    .header-title-top{
        font-size: 30px;
    }
    .header-title-top
    p{
        margin-top: 5%;
        font-size: 35px;
    }
    .header-title-bot{
        margin-top: 10%;
        font-size: 30px;
    }
    .buttonmap{
        margin-top: 5%;
        font-size: 30px;
    }
    .header-column-right{
        height: 45%;
    }
    .box-date{
        width: 80%;
        height: 400px;
        left: 10%;
    }
    .box-date-top{
        font-size: 40px;
    }
    .box-date-top
    p{
        font-size: 30px;
    }
    .btn{
        width: 80%;
        padding: 15px;
        font-size: 40px;
        margin-left: 10%;
    }
    .going{
        margin-top: 5%;
    }
}

 /* ---------- IP5 LANDSCAPE and stop at SURFACE DUO POTRAIT ----------- */
@media (max-width: 568.5px) and (min-width:541px){
    .header-wrapper{
        height: 1136px;
    }
    .header-column-left{
        height: 55%;
    }
    .column-wrapper{
        top: 10%;
        left: 1%;
    }
    .header-title-top{
        font-size: 30px;
    }
    .header-title-top
    p{
        font-size: 30px;
        margin-top:10%;
    }
    .header-title-bot{
        font-size: 30px; 
        margin-top:15%;
    }
    .header-column-right{
        height: 45%;
    }
    .buttonmap{
        margin-top: 5%;
        font-size: 30px;
    }
    .box-date{
        width: 90%;
        height: 80%;
        left: 5%;
    }
    .box-date-top{
        font-size: 50px;
    }
    .box-date-top
    p{
        font-size: 30px;
    }
    .btn{
        padding: 10px;
        font-size: 45px;
    }
}

 /* ---------- SURFACE DUO POTRAIT----------- */
 @media (max-width: 540.5px) {
    .header-wrapper{
        height: 1030px;
    }
    .header-column-left{
        height: 660px;
    }
    .column-wrapper{
        left: 5%;
    }
    .header-title-top{
        font-size: 25px;
    }
    .header-title-top
    p {
        margin-top: 15%;
        font-size: 35px;
    }
    .header-title-bot{
        width: 100%;
        font-size: 25px; 
        margin-top:20%;
    }
    .buttonmap{
        margin-top: 15%;
        font-size: 30px;
    }
    .header-column-right{
        height: 370px;
    }
    .box-date{
        width: 90%;
        height: 330px;
        top: 5%;
        left: 5%;
    }
    .box-date-top{
        font-size: 50px;
    }
    .box-date-top
    p{
        font-size: 30px;
        margin-top: 0%;
    }
    .box-date-bot{
        top: 40%;
    }
    .btn{
        width: 80%;
        padding: 20px;
        font-size: 30px;
        margin-left: 10%;
    }
}

/* ---------- IP6,7,8(and plus) POTRAIT ----------- */
@media(max-width: 414.5px){
    .header-wrapper{
        height: 930px;
    }
    .header-column-left{
        height: 560px;
    }
    .column-wrapper{
        top: 10%
    }
    .header-title-top{
        font-size: 25px;
    }
    .header-title-top
    p {
        margin-top: 5%;
        font-size: 25px;
    }
    .header-title-bot{
        margin-top: 10%;
        font-size: 20px; 
    }
    .buttonmap{
        margin-top: 5%;
    }
    .box-date-top
    p{
        font-size: 20px;
    }
    .box-date-bot{
        top: 40%;
    }
    .btn{
        width: 80%;
        padding: 20px;
        font-size: 25px;
        margin-left: 10%;
    } 
}

/* ---------- IP10 POTRAIT ----------- */
@media (max-width: 375.5px) and (min-width:360.5px) {
    .header-wrapper{
        height:870px;
    }
    .header-column-left{
        height: 500px;
    }
    .column-wrapper{
        top:10%;
    }
    .header-column-right{
        height: 370px;
    }
}

/* ---------- IP5 POTRAIT AND OTHERs PORTRAIT SCREEN SIZE AND DOWN ----------- */
@media (max-width: 360.5px){
    .header-wrapper{
        height: 940px;
    }
    .header-column-left{
        height: 570px;
    }
    .box-date-top{
        font-size: 40px;
    }
    .box-date-bot{
        top:45%;
    }
    .box-date{
        height: 310px;
    }
    .btn{
        padding: 12px;
        font-size: 30px;
    }
}
